:root {
  --font-size: 1.8rem;
  --line-height: 1.6;
  --space: calc(var(--font-size) * var(--line-height));
  --page-width: calc(var(--space) * 32);

  --font-sans: system-ui, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;

  --color-lightgrey: hsl(0, 0%, 95%);
  --color-transparent: hsla(0, 0%, 0%, 0);
}

html {
  font-family: var(--font-sans);
  font-size:   62.5%;
  line-height: var(--line-height);
  box-sizing:  border-box;
}

*, *:before, *:after { box-sizing: inherit; }

body {
  margin: 0;
  font-size: var(--font-size);
}

button {
  font-size: var(--font-size);
}

main {
  margin: calc(var(--space) / 2);
}

.toolbar {
  display: flex;
  gap: var(--space);
  margin-bottom: calc(var(--space) / 2);
}

.modes {
  flex: 1;
}

.grid {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--color-lightgrey);
}

.row {
  display: flex;
}

.cell {
  flex: 1;
  border: 1px solid var(--color-lightgrey);
  aspect-ratio: 1;
}

.filled {
  border-color: var(--color-transparent);
}
