:root {
  --color-lightgrey: hsl(0, 0%, 95%);
  --color-transparent: hsla(0, 0%, 0%, 0);
}

html {
  box-sizing:  border-box;
}

*, *:before, *:after { box-sizing: inherit; }

body {
  margin: 0;
}

main {
  height: 100vh;
  margin: 10px;
}

.reset {
  margin-bottom: 10px;
}

.grid {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--color-lightgrey);
}

.row {
  display: flex;
}

.cell {
  flex: 1;
  border: 1px solid var(--color-lightgrey);
  aspect-ratio: 1;
}

.filled {
  background-color: #222;
  border-color: var(--color-transparent);
}
